<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="{{ goBack() }}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ role_info?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item> 
    <ion-input [(ngModel)]="hours" value="0" label="Enter number of {{role_info?.event_type}}" type="number" labelPlacement="floating" placeholder="0.0"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea [(ngModel)]="notes" value="" label="{{role_info?.support_text ?? 'Notes'}}" [autoGrow]="true" labelPlacement="stacked"></ion-textarea>
  </ion-item>
  <ion-footer>
    <ion-button id="open-saved" expand="block"  (click)="saveChanges()" color="secondary">Save Changes</ion-button>
    <ion-button id="open-cleared" expand="block" (click)="remove()">Clear</ion-button>
    <ion-toast trigger="open-saved" message="Saved!" [duration]="5000"></ion-toast>
  </ion-footer>
</ion-content>




