<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Back to Categories" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Select Role
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for (role of roles; track role) {
      <app-role [role]="role"></app-role>
    }
  </ion-list>
</ion-content>