@if (is_admin) {
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Admin View</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="downloadCSV()">
          <ion-icon name="download-outline" slot="start"></ion-icon>
          Download All
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header>
      <ion-toolbar>
        <ion-title slot="start">Members</ion-title>
        <ion-buttons slot="end">
          <ion-button id="open-modal" expand="block">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            Invite
          </ion-button>
        </ion-buttons>
        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Invite User</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-item>
                <ion-input label="Enter email address" labelPlacement="stacked" type="email"
                  placeholder="johndoe@gmail.com" [(ngModel)]="email"></ion-input>
              </ion-item>
              <ion-button [disabled]="!email" expand="block" solid="true" (click)="confirm()" [strong]="true">Add
                User</ion-button>
              <ion-toast [isOpen]="error" message="User does not exist" [duration]="5000"
                (didDismiss)="setError(false)"></ion-toast>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-toolbar>
    </ion-header>
  
    <ion-list>
      @for (member of (group_members$ | async); track member.user_id) {
      <ion-item>
        <ion-label>{{ member.full_name }}</ion-label>
        <ion-buttons>
          <ion-button fill="solid" size="medium" [routerLink]="['./user', member.user_id]">
            See User
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
          <ion-button id="open-confirmation-{{member.user_id}}" color="danger">Remove</ion-button>
          <ion-modal #removeModal trigger="open-confirmation-{{member.user_id}}">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="end">
                    <ion-button (click)="removeModal.dismiss()">Cancel</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-item><ion-label>Are you sure you want to remove {{ member.full_name }}?</ion-label></ion-item>
                <ion-button expand="block" color="danger" solid="true"
                  (click)="removeUser(member.user_id); removeModal.dismiss()">Remove User</ion-button>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-buttons>
      </ion-item>
  
      }
    </ion-list>
  </ion-content>
} @else {
  <ion-content>
    <ion-item color="warning">
      
        <h2>Authorization Issue</h2>
    
        
      
    </ion-item>
    <ion-item color="warning">
      Only admins have access to this page
    </ion-item>
    
  </ion-content>
}
