// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #7b003c;
	--ion-color-primary-rgb: 123,0,60;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #6c0035;
	--ion-color-primary-tint: #881a50;
    --ion-color-secondary: #fec057;
    --ion-color-secondary-contrast: #000000;
}

.ion-color-primary {
	--ion-color-base: var(--ion-color-primary);
	--ion-color-base-rgb: var(--ion-color-primary-rgb);
	--ion-color-contrast: var(--ion-color-primary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
	--ion-color-shade: var(--ion-color-primary-shade);
	--ion-color-tint: var(--ion-color-primary-tint);
}

// #4c5d68 - mac grey colour

ion-toast {
  --background: #4c5d68;
  --color: white;
}